
<plat-navbar></plat-navbar>
<div class="container">
    <div class="box">
        <div class="content">
            <img src="../../../assets/img-avatar.svg" alt="avatar" class="avatar"/>
            <h1>Olá, Username</h1>
            <h5>Seu saldo atual:</h5>
            <h2>R$ 5.000,00</h2>
            <a>Sacar dinheiro</a>
            <button>DEPOSITAR</button>
        </div>
    </div>
    <div class="box">
        <h2>Vimos aqui que você ainda não tem nenhum investimento</h2>
        <h4>Não perca tempo! Comece a investir agora mesmo.</h4>
        <img src="../../../assets/img-semacoes.svg" alt="sem açoes" class="no-stocks"/>
        <button>ENCONTRAR AÇÕES</button>
    </div>
</div>