* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #fcfcfc;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;

}

h4 {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 4px;
}

h5 {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.logo {
  position: absolute;
  margin-left: 67px;
  padding: 25px 0;
  width: 116px;
  height: 22px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 0;
  width: 100%;
  
  .formField {
    color: #929fa5;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
    width: 445px;
    height: 48px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #929fa5;
    border-radius: 4px;
    background-color : #082534;
    
    &:focus {
      border: solid 1px #00add2;
      color: #fcfcfc;
    }

    &.ng-touched {
      color: #fcfcfc;
    }
  }

  .is-invalid {
    border: solid 1px #aa0000;
  }

  .box {
    width: 50%;
    height: 100%;

    &:first-of-type {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #082534;

      button {
        display: block;
        width: 445px;
        height: 48px;
        background: #00add2;
        padding: 16px;
        border: none;
        color: #FFF;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline:0;
        }
      }
    }

    &:last-of-type {
      background-image: url("../../../assets/img-lateral.jpg");
      background-size: cover;
      background-position: center;
      background-blend-mode: luminosity;
      position: relative;
      width: 50%;
    }
  }
}

@media screen and (max-width: 820px) {

  .container{
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  }
  .container .box {
      width: 100%;
  }

  .container .box:last-of-type{
      display: none;
  }
}