<plat-navbar></plat-navbar>
<div class="container">
  <div class="wrapper">
    <h1>Bolsa de valores</h1>
    <h4>Confira as ações em alta no mercado</h4>
    <div class="table-container" role="table" aria-label="Destinations">
        <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">NOME</div>
        <div class="flex-row" role="columnheader">VALOR ATUAL</div>
        <div class="flex-row" role="columnheader">ÚLTIMA ATUALIZAÇÃO</div>
        <div class="flex-row-buttons" role="columnheader"></div>
        <div class="flex-row-buttons" role="columnheader"></div>
      </div>
      <div class="flex-table row" role="rowgroup">
        <div class="flex-row first" role="cell">PETR4</div>
        <div class="flex-row" role="cell">R$ 15.2</div>
        <div class="flex-row" role="cell">19 Sep, 1p.m.</div>
        <div class="flex-row-buttons" role="cell"><button class="details-button">Detalhes</button></div>
        <div class="flex-row-buttons" role="cell"><button class="buy-button">Comprar</button></div>
      </div>
      <div class="flex-table row" role="rowgroup">
        <div class="flex-row first"  role="cell">PETR4</div>
        <div class="flex-row" role="cell">R$ 15.2</div>
        <div class="flex-row" role="cell">23 Sep, 1:30p.m.</div>
        <div class="flex-row-buttons" role="cell"><button class="details-button">Detalhes</button></div>
        <div class="flex-row-buttons" role="cell"><button class="buy-button">Comprar</button></div>
      </div>
      <div class="flex-table row" role="rowgroup">
        <div class="flex-row first" role="cell">PETR4</div>
        <div class="flex-row" role="cell">R$ 15.2</div>
        <div class="flex-row" role="cell">9 Sep, 2p.m.</div>
        <div class="flex-row-buttons" role="cell"><button class="details-button">Detalhes</button></div>
        <div class="flex-row-buttons" role="cell"><button class="buy-button">Comprar</button></div>
      </div>
      <div class="flex-table row" role="rowgroup">
        <div class="flex-row first" role="cell">PETR4</div>
        <div class="flex-row" role="cell">R$ 15.2</div>
        <div class="flex-row" role="cell">12 Sep, 2p.m.</div>
        <div class="flex-row-buttons" role="cell"><button class="details-button">Detalhes</button></div>
        <div class="flex-row-buttons" role="cell"><button class="buy-button">Comprar</button></div>
      </div>
      </div>
  </div>
</div>