<plat-navbar></plat-navbar>
<div class="container">
  <div class="wrapper">
    <h1>Bolsa de valores</h1>
    <h4>Confira as ações em alta no mercado</h4>
    <div class="table-container" role="table">
        <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">NOME</div>
        <div class="flex-row" role="columnheader">VALOR ATUAL</div>
        <div class="flex-row" role="columnheader">ÚLTIMA ATUALIZAÇÃO</div>
        <div class="flex-row-buttons" role="columnheader"></div>
        <div class="flex-row-buttons" role="columnheader"></div>
      </div>
      <div *ngFor= "let quote of stockOptions" class="flex-table row" role="rowgroup">
        <div class="flex-row first" role="cell">{{quote.name}}</div>
        <div class="flex-row" role="cell">R$ {{quote.value}}</div>
        <div class="flex-row" role="cell">{{quote.timestamp}}</div>
        <div class="flex-row-buttons" role="cell"><button (click)="showDetails(quote.name, quote.value, quote.min, quote.max)" class="details-button">Detalhes</button></div>
        <div class="flex-row-buttons" role="cell"><button (click)="showBuy(quote.name, quote.value, accountInfo.balance, 'BUY')" class="buy-button">Comprar</button></div>
      </div>
      </div>
  </div>
</div>